{% extends '::homebase.html.twig' %}

{% block body %}
<body class="">
<div class="page-wrapper">

    <div class="header-wrapper">
        <div class="header">
            <div class="header-inner">
                <div class="container">
                    <div class="header-topbar">
                        <div class="header-topbar-left">
                            <ul class="nav nav-pills nav-topbar">
                                <li class="nav-item"><a href="login.html" class="nav-link"><strong>Login</strong></a></li>
                            </ul><!-- /.nav -->
                        </div><!-- /.header-topbar-left -->
                    </div><!-- /.header-topbar -->

                    <div class="header-top">
                        <div class="header-top-inner">
                            <a class="header-logo" href="index.html">
                                <span class="header-logo-shape"><img src="{{ asset('bundles/scout/assets/img/logo_black.png')  }}" style="height: 55px;"></span>
                                <!--<span class="header-logo-text">Room Scout</span>-->
                            </a><!-- /.header-logo -->

                            <div class="header-separator">
                            </div><!-- /.header-separator -->

                            <div class="header-search">
                                <form method="get" action="properties.html">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" placeholder="Search the site" class="form-control">
                                    </div><!-- /.form-group -->
                                </form>
                            </div><!-- /.header-search -->

                            <div class="header-information">
                                <i class="fa fa-envelope"></i>

                                <div class="header-information-block">
                                    <strong>info@roomscout.mu</strong>
                                    <span>Ask Us Anything</span>
                                </div><!-- /.header-information-block -->
                            </div><!-- /.header-information -->

                            <div class="header-information">
                                <i class="fa fa-mobile"></i>

                                <div class="header-information-block">
                                    <strong>+0-123-456-789</strong>
                                    <span>Call On Us Any Time</span>
                                </div><!-- /.header-information-block -->
                            </div><!-- /.header-information -->

                            <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div><!-- /.header-top-inner -->
                    </div><!-- /.header-top -->

                    <div class="header-bottom">
                        <div class="header-bottom-inner">

                            <div class="nav-primary-wrapper collapse navbar-toggleable-sm">
                                <ul class="nav nav-pills nav-primary">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link ">
                                            Home
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="properties.html" class="nav-link">
                                            Houses
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="agents-grid.html" class="nav-link ">
                                            Landlords
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="locations.html" class="nav-link">
                                            Locations
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="contact.html" class="nav-link active">
                                            Get In Touch
                                        </a>
                                    </li>
                                </ul><!-- /.nav -->
                            </div><!-- /.nav-primary -->
                        </div><!-- /.header-bottom-inner -->
                    </div><!-- /.header-bottom -->
                </div><!-- /.container -->
            </div><!-- /.header-inner -->
        </div><!-- /.header -->
    </div><!-- /.header-wrapper-->

    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">

                <div class="content-title">
                    <div class="content-title-inner">
                        <div class="container">
                            <h1>Get In Touch</h1>
                        </div><!-- /.container -->
                    </div><!-- /.content-title-inner -->
                </div><!-- /.content-title -->


                <div class="content">

                    {% block innerbody %}{% endblock %}
                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

    {% endblock %}


